@media (max-width: 900px) {


    .form_black {


display: flex;
flex-direction: column;


    }


.cards_partition_div {


display: flex;
flex-direction: column;
justify-content: center;
padding: 20px;
row-gap: 50px;

}

.cards_main_div {


margin-top: 30%;


}



}


.button_1 {

width: 60px;

}


  
  /* Mobile Styles */
  .button_1.active {
    border-bottom: 5px solid #38b772; /* Adjust color as needed */
    width: 60px;
  }


  @media (max-width: 480px) {



.form_main_div {

display: flex;
flex-direction: column;

}


.input_feilds_div h2 {

text-align: center;
padding: 5%;
font-size: 30px;


}


.second_component_form {


padding: 0;
padding: 5%;
padding-top: 45px;


}

.main_heading_right_side {

text-align: center;

}


.form_right_left1 {

font-size: 18px;


}


.form_right_left {

  font-size: 18px;


}

.form_right_right {

font-size: 15px;
text-align: right;

}


.main_footer1 {


display: flex;
flex-direction: column;
justify-content: center;
min-height: fit-content;
gap: 2%;


}

.footer_main_right_side {

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  gap: 30px;
  padding-bottom: 40px;
  


}


.div_footerleft {

min-height: 150px;


}


.input_inner_div {


display:flex;
flex-direction: column;


}


.form_black {

margin-top: 250px;
width: 90%;
min-height: 200px;
padding: 15px;
padding-top: 30px;
padding-bottom: 30px;
}


.cards_main_div {


margin-top: 500px;
padding-bottom: 20px;


}


.second_component_form {


display: none;


}

.cards_1 {

justify-content: center;
text-align: center;
align-items: center;


}
.cards_heading {

text-align: center;
}


.cards_1 p {

text-align: center;


}




  }



  
  
  .header_div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: transparent !important;
    box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.1); /* Adjust values as needed */ /* Adjust values as needed */
    
    /* Card-like bottom border */
    
    /* Shadow effect on the bottom */
    position: sticky !important;
    z-index: 9999999999;
    
  }
  

.custom_header_1 {

margin-left: 0.5% !important;


}


.logo_div {

display: flex;
justify-content: flex-start;
align-items: center;
margin-left: 15%;
}


.list_right_side {

list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 0px !important;
z-index: 9999999999999999999 !important;

}


.hamburger {
    display: none; /* Hide hamburger by default */
    cursor: pointer;
    font-size: 24px;
  }

  /* Sliding Menu */
/* Sliding Menu */
@media (max-width: 1300px) {
  /* Initial state of the menu */
  .list_right_side {
    display: none; /* Hide menu by default */
    position: fixed;
    top: 0;
    right: -100%; /* Menu starts off-screen to the right */
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: right 0.3s ease-in-out; /* Smooth transition when closing */
  }

  /* Active class to show the menu and slide it in */
  .list_right_side.active {
    display: flex; /* Make menu a flex container */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5% !important;
    background-color: #f9f9f9;
    padding: 20px;
    right: 0; /* Slide the menu in */
    animation: slideFromRight 0.3s ease-in-out forwards; /* Apply animation when opening */
    opacity: 1 !important;
    padding-top: 35%;
  }

  .list_right_side.active {
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 100px;
    z-index: 99999999999 !important;
    opacity: 1 !important;
  }
  
  
  
  .custom_header_1 {
  
  
  box-shadow: none;
  
  
  }
  
.landing-content1 H4 {

display: none;


}




  /* Slide-in animation for opening */
  @keyframes slideFromRight {
    from {
      opacity: 0;
      transform: translateX(100%); /* Start off-screen from right */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Slide in to normal position */
    }
  }

  /* Close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #333;
    font-size: 30px;
    cursor: pointer;
    z-index: 1020; /* Ensure it is on top of other content */
  }

  /* Hamburger icon should stay on top */
  .hamburger {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    z-index: 999999999999999999;
    padding-right: 30px;
  }

  /* .custom_header_1 {
    margin-left: 0 !important;
    background-color: #05021F;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    color: #e0e0e0 !important;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
} */



.close-menu {
  position: fixed; /* Fixes the element in place relative to the viewport */
  top: 20px; /* 20px from the top */
  left: 320px; /* 20px from the right */
  z-index: 10; /* Ensures it stays on top of other elements */
}





}


  .list_second_styling:hover {
    cursor: pointer;
    font-weight: bold;
  
  }
  
.list_second_styling_last {

    cursor: pointer;
    font-weight: bold;
    transition: 0.8s;
margin-left: 10%;
border-radius: 20px;
border: solid;
border-width: 2px;
padding: clamp(4px, 0.2%, 10px);
padding-right: clamp(8px, 1%, 20px);
padding-left: clamp(8px, 1%, 20px);
font-size: 13px;



}



.list_second_styling {

    cursor: pointer;
    font-weight: bold;
    transition: 0.8s;
    font-size: 13px;
    
}

.list_second_styling p {

    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: black !important;
    text-decoration: none !important;
}


.list_second_styling p strong {
  color: black !important;
  text-decoration: none !important;
  font-size: 24px !important;
    font-weight: 500 !important;
}








.list_second_styling p strong {
  transition: color 0.3s ease, font-size 0.3s ease; /* Apply transition for color and font-size */



}


.active {
  color: #38b773; /* Highlight color */
  font-weight: bold;
}






a {


  text-decoration: none !important;

}







.main_logo {

height: auto;
width: 120px;
padding-left: 30px;


}



/* .custom_header_1 p strong {

  
  color: rgba(255, 255, 255, 1) !important;
  
  
  } */
  

.dropdown_header {

background: transparent !important;
box-shadow: none !important;
color: black !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: none !important;
    margin: 0 !important;
padding: 0 !important;
}


.custom-dropdown-menu1 {
  color: #05021F !important;
  text-decoration: none !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  text-transform: none !important;
  margin-top: 10px;
  margin-left: -1rem !important;
  width: 220px;
  border: solid 1px !important;
  border-color:  #05021F !important;
}

.dropdown-item-wrapper {
  border-bottom: 1px solid #ddd !important;
}

.dropdown-item-wrapper:last-child {
  border-bottom: none;
}

